.App {
  display: block;
  min-height: 100vh;
  padding: 1rem;
  -webkit-font-smoothing: antialiased;
  color: white;
  background-color: #282f3b;
}

.App > * + * {
  margin-top: 1rem;
}

/* autoprefixer: off */
@supports(display:grid) {
  .App {
      display: grid;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-gap: 1rem;
  }

  .App > * + * {
      margin-top: 0;
  }
}

@media(max-width: 600px) {
  .App {
      display: block;
  }

  .App > * + * {
      margin-top: 1rem;
  }
}
