button {
    font-size: 1rem;
    font-weight: bold;
    display: block;
    clear: left;
    color: #282f3b;
    border: none;
    background-color:white;
    margin-top: 1rem;
}

button:hover {
    background-color: #282f3b;
    color: white;
    cursor: pointer;
    cursor: hand;
  }
